body{
    background-image: url("../images/crystalbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#gallows{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    /*position: relative;*/
}

#head, #leftArm, #rightArm, #leftLeg, #rightLeg, .body{
    visibility: hidden;
}

#guesses{
    color: white;
    /*background-color: teal;*/
    text-decoration: underline;
}

.btn-hangman{
    background-color: teal;
    color: white;
}

#wordGoesHere span{
    text-decoration: underline;
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
}

.information{
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}
#crystals{
    margin: 0;
}

#crystals ul{
    margin: 0 0 20px 0;
    padding: 0;
}

#crystals ul li{
    display: inline-block;
    margin: 5px;
}